<div class="col-sm-8 blog-main">
  <div class="edit-blog">
    <h1>Edit This Post</h1>
  </div>
  <div class="test">
  </div>

  <%= render 'form', blog: @blog %>

  <%= link_to 'Show', @blog %> |
  <%= link_to 'Back', blogs_path %>
</div>