<footer class="text-muted">
  <div class="contrainer">
    <p class="float-right">
      <%= link_to "See All Portfolio Items", portfolios_path %> -
      <a href="#">Jump to top</a>
    </p>
    <p>
      <hr><%= copyright_generator %>
    </p>
  </div>
</footer> 