<div class="about-header">
  <h1>Get To Know Me</h1>

  <div id="about-content">
    <p>I live to Code.</p>

    <p>That's right! I love to put together really awesome code!</p>

    <p>I'm proficient, easy to work with and I don't stop until it is PERFECT.</p>
  </div>
</div>