<h1>How To Contact Me</h1>

<p><%= number_to_phone "5555555555" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "80.5" %></p>

<p><%= number_with_delimiter "4865315165816846841320" %></p>