<div class="contact-header">
  <h1>Let's Work Together</h1>
</div>

<div class="contact-container">
  <p><a href="https://twitter.com/shelbijo6">Follow me on Twitter</a></p>
  <p><a href="https://www.linkedin.com/in/shelbi-schollenberger-a643b4134/">Connect with me on Linkedin</a></p>
  <p><a href="https://www.instagram.com/jedishelbi6/">Follow me on Instagram</a></p>
  <p><a href="mailto:sschollenberger6@gmail.com?subject=PortfolioContact" "email me">Email Me</a></p>
</div>
