<div class="contact-header">
  <h1>Let's Work Together</h1>
</div>

<div class="contact-container"
  <p><a href="#">Connect with me on Linkedin</a></p>
  <p><a href="mailto:sschollenberger6@gmail.com?subject=PortfolioContact" "email me">Email Me</a></p>
</div>
