<div class="inner cover">
  <h1 class="cover-heading">Welcome To My Portfolio</h1>
  <p class="lead">
    <span><%= link_to "See My Work", blogs_path, class: "btn btn-lg" %></span>
    <span><%= link_to "Contact Me", contact_path, class: "btn btn-lg" %></span>
  </p>
</div>