<div class="inner cover">
  <h1 class="cover-heading">Hi, I'm Shelbi.</h1>
  <span class="home-content"> I am learning to create simple, effective and user-centric web solutions</span>
  <p class="lead">
    <span><%= link_to "Put Me To Work", contact_path, class: "btn btn-lg" %></span>
  </p>
</div>